<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Diet Tracker</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1px 10px;
        }

        /* CSS to visually hide the label for accessibility */
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            clip: rect(0, 0, 0, 0);
            overflow: hidden;
        }
    </style>
</head>
<body>
<h1>Diet Tracker</h1>
<p></p>
<p>
    <a href="/users">Show protocols</a> &middot;
    <a href="/adduser">Add protocol</a> &middot;
    <a href="/products">Show items</a> &middot;
    <a href="/product">Add item</a> &middot;
    <a href="/transfer">Add to diary</a> &middot;
    <a href="/transfers">Food diary</a>
</p>
<h3>Showing all items</h3>
<p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        {{#if ../is_user_product}}<th>Benefit</th>{{/if}}
        <th>Created</th>
        <th>Operation</th>
    </tr>
    {{#each vec}}
        <tr>
            <td>{{id}}</td>
            <td>
                <!-- Display the name as plain text -->
                {{name}}
                
            </td>
            {{#if ../is_user_product}}<td style="overflow: hidden; max-width: 66px;">{{benefit}}</td>{{/if}}
            <td>{{time_created}}</td>
            <td>

			{{#if ../is_user_product}}Delete (WIP){{else}}<a href="/product/{{id}}/producers">Protocols item assigned to</a>{{/if}}
			</td>
        </tr>
    {{/each}}
</table>
</body>
</html>
