<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Diet Tracker</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }

    </style>
</head>
<body>
<h1>Diet Tracker</h1>
<p></p>
<p>
    <a href="/users">Show protocols</a> &middot;
    <a href="/adduser">Add protocol</a> &middot;
    <a href="/products">Show items</a> &middot;
    <a href="/product">Add item</a> &middot;
    <a href="/transfer">Add to diary</a> &middot;
    <a href="/transfers">Food diary</a>
</p>
<h3>Showing all protocols</h3>
<p>

<form action="/user/product" method="post" accept-charset="utf-8" id="productform">
Select product to assign: <select name="product_id" id="product_id" form="productform" required>
    {{#each products}}
        <option value="{{id}}">#{{id}} {{name}}</option>
    {{/each}}
</select><br><br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th><a href="/fame" target="_blank">Compliance stats</a></th>
        <th>Created</th>
        <th>Operation</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td style="overflow: hidden; max-width: 66px;">{{fame}}</td>
            <td>{{time_created}}</td>
            <td>
                <button type="submit" value="{{id}}" name="user_id">Configure dropdown item to protocol</button>
            </td>
        </tr>
    {{/each}}
</table>
</form>
</body>
</html>
